html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-size: 14px;
}

.el-menu {
  // 弹出菜单
  &.el-menu--popup {
    background: #00142a;
    .el-menu-item {
      height: 40px;
      line-height: 40px;
      &:hover {
        color: #fff !important;
        background-color: inherit;
      }
    }
  }
}